Primero tenemos que importar la librería json que nos ayuda a lidiar con formato JSON en Python:

In [11]:
import pandas as pd

In [12]:
import json

Despues leemos el archivo JSON   usando open

In [13]:
f= open('../DataSets/new_york_times_bestsellers-clean.json','r')

La ruta (o path) puede ser absoluto o relativo (en el Prework hay un link donde se explica esto con más claridad). El 'r' significa que queremos leer el archivo (read).

Después convertimos nuestro archivo JSON en un diccionario de Python:

In [14]:
json_data = json.load(f)

In [15]:
f.close()

Y finalmente pasamos el diccionario a pandas.DataFrame.from_dict para crear un DataFrame:

In [16]:
df = pd.DataFrame.from_dict(json_data)

In [17]:
df

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Aliens have taken control of the minds and bod...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,1211587200000,1212883200000,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,A woman's happy marriage is shaken when she en...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,1211587200000,1212883200000,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,A Massachusetts state investigator and his tea...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,1211587200000,1212883200000,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,An aging porn queens aims to cap her career by...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,1211587200000,1212883200000,5,0,1,24.95
4,http://www.amazon.com/Sundays-at-Tiffanys-Jame...,James Patterson and Gabrielle Charbonnet,A woman finds an unexpected love,"Little, Brown",SUNDAYS AT TIFFANY’S,5b4aa4ead3089013507db190,1211587200000,1212883200000,6,3,4,24.99
...,...,...,...,...,...,...,...,...,...,...,...,...
3028,http://www.amazon.com/Six-Years-Harlan-Coben/d...,Harlan Coben,Jake Fisher discovers that neither the woman h...,Dutton,SIX YEARS,5b4aa4ead3089013507dc593,1366416000000,1367712000000,9,8,5,27.95
3029,http://www.amazon.com/The-Interestings-Novel-M...,Meg Wolitzer,Six friends meet in the 1970s at a summer arts...,Riverhead,THE INTERESTINGS,5b4aa4ead3089013507dc595,1366416000000,1367712000000,11,11,2,27.95
3030,http://www.amazon.com/Man-Without-Breath-Berni...,Philip Kerr,"Bernie Gunther, the Berlin cop, is sent to Smo...",Marian Wood/Putnam,A MAN WITHOUT BREATH,5b4aa4ead3089013507dc597,1366416000000,1367712000000,13,0,1,26.95
3031,http://www.amazon.com/The-Storyteller-Jodi-Pic...,Jodi Picoult,A New Hampshire baker finds herself in the mid...,Emily Bestler/Atria,THE STORYTELLER,5b4aa4ead3089013507dc598,1366416000000,1367712000000,14,10,8,28.99
3032,http://www.amazon.com/Z-A-Novel-Zelda-Fitzgera...,Therese Anne Fowler,A novel based on the lives of Zelda and F. Sco...,St. Martin's,Z,5b4aa4ead3089013507dc59a,1366416000000,1367712000000,16,0,3,25.99

In [18]:
df.shape

(3033, 12)